body {
  padding: 100px 0;
}
.example-enter {
  opacity: 0.01;
  background-color: aqua;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: 700ms;
  background-color: black;
}

/* .pagination-buttons {
} */

.myHidden {
  visibility: hidden !important;
}
